# Style file for clang-format ( http://clang.llvm.org/docs/ClangFormatStyleOptions.html )

# Style is based on google's c++ coding style.
# see http://google-styleguide.googlecode.com/svn/trunk/cppguide.xml
BasedOnStyle: LLVM
#Language: Cpp
Standard: c++17
AccessModifierOffset: 2
