# SPDX-FileCopyrightText: 2025 Povl Filip Sonne-Frederiksen
#
# SPDX-License-Identifier: GPL-3.0-or-later

# EditorConfig is awesome: https://EditorConfig.org

root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# C++ files
[*.{cpp,hpp,h,c,cc,cxx,cu,cuh}]
indent_style = space
indent_size = 4

# CMake
[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 2

# Python
[*.py]
indent_style = space
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# Nix
[*.nix]
indent_style = space
indent_size = 2
