[submodule "extern/pybind11"]
	path = extern/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "extern/polyscope"]
	path = extern/polyscope
	url = git@github.com:nmwsharp/polyscope.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "extern/opennurbs"]
	path = extern/opennurbs
	url = git@github.com:mcneel/opennurbs.git
[submodule "extern/hdf5"]
	path = extern/hdf5
	url = git@github.com:HDFGroup/hdf5.git
[submodule "extern/highfive"]
	path = extern/highfive
	url = git@github.com:highfive-devs/highfive.git
